html
  head
    include partials/template/header.pug
    title= siteTitle
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only")= "Toggle navigation"
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="#")= siteTitle
        div(id="navbar", class="collapse navbar-collapse")
    div(class="container")
      div(class="page-header")
        h1= "Recipes"
      div(class="col-md-6")
        table(class="table")
          thead
            tr
              th= "Name"
              th= "Description"
          tbody
            each val in recipes
              tr
                td= val.name
                td= val.description
      a(href='recipes')= "New"