html
  head
    include partials/template/header.pug
    title= siteTitle
  body
    include partials/template/navbar.pug
    div(class="container")
      form(action="/recipes?_method=" + formMethod, method="POST")
        if recipe._id
          input(type="hidden", name="_id", value=recipe._id)
        div(class="form-group")
          label(for="name")= "Recipe Name: "
          input(class="form-control", type="text", placeholder="Recipe Name", name="name", value=recipe.name)
        div(class="form-group")
          label(for="style")= "Recipe Style: "
          select(class="form-control", name="style", value=recipe.style)
            option(value="")= "Please Select"
            for val in ref.styles
              option(value=val, selected=recipe.style==val)= val
        div(class="form-group")
          label(for="description")= "Description: "
          textarea(class="form-control", placeholder="Description", name="description")= recipe.description
        div(class="form-group")
          label(for="process")= "Process: "
          textarea(id="recipe-process", class="form-control", placeholder="Process", cols=100, name="process")= recipe.process
        button(type="submit")= "Submit"